.place__content {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 680px) {
  .place__content {
    margin-top: 32px;
    flex-direction: column;
  }
}
