.cover__overplay {
  position: relative;
  margin: auto;
  width: 100%;
  background: center center no-repeat url('../../../images/cover-trains.jpg');
  background-size: contain;
  text-decoration: none;
}

.cover__overplay::before {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__overplay:hover::before {
  opacity: 0.8;
}
