.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin: 0 0 0 40px;
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin: 0 0 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    margin: 0 0 0 28px;
  }
}

@media screen and (max-width: 680px) {
  .place__website {
    margin: 32px 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 32px 16px 0;
  }
}
